*.pdf
*.mp4
*.mp3
*.wav
*.avi
*.mkv
*.flv
*.wmv
*.mov
*.flac
*.flp
*.png
*.jpg
*.jpeg
*.gif
*.bat
.cursorignore
.env
env/**
venv/**
embeddings/**/*.json
!embeddings/qwen3/king.json
!embeddings/qwen3/queen.json
!embeddings/qwen3/man.json
!embeddings/qwen3/woman.json
!cosine-similarity-vectors.png