ai-apps/vectormath/embeddings/**/*.json
!ai-apps/vectormath/embeddings/qwen3/king.json
!ai-apps/vectormath/embeddings/qwen3/queen.json
!ai-apps/vectormath/embeddings/qwen3/man.json
!ai-apps/vectormath/embeddings/qwen3/woman.json
!ai-apps/vectormath/analyzeEmbeddings.py
